.App {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  color: brown;
}

.coco {
  padding: 20px;
}

.container {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: scroll;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #052952 #b1a4a4;
  margin-top: 10px;
}

.Lists {
  background-color: grey;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid rgb(69, 73, 78);
  border-radius: 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}