.App {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  color: #800000;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Lists {
  padding: 10px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 16px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}